<section class="web-container">
  <!--! HEADER -->
  <header class="menu-sticky">
    <div class="top-menu">
      <!-- input -->
      <input class="top-menu-input" type="text" placeholder="szukajka">
      <span class="smallCircle"></span>
      <!-- logo -->
      <h2 class="top-menu-logo">LOGO</h2>
      <app-hamburger></app-hamburger>
      <!-- panel -->
      <div class="top-menu-panel">
        <span class="bigCircle"></span>
        <a href="#">Ulubione</a>
        <span class="bigCircle"></span>
        <a href="#">Konto</a>
        <span class="bigCircle"></span>
      </div>
    </div>
  </header>
  <!--! END HEADER -->

  <!--! WEB Content -->

  <!--! MENU -->
  <section class="web-content">
    <menu>
      <!--* bottom -->
      <div class="bottom-menu">
        <a href="#">Link menu</a>
        <a href="#">Link menu</a>
        <a href="#">Link menu</a>
        <a href="#">Link menu</a>
        <a href="#">Link menu</a>
        <a href="#">Link menu</a>
        <a href="#">Link menu</a>
      </div>
    </menu>
    <!--! END MENU -->

    <!--! PHOTO -->
    <section class="photo">
      <!--* left -->
      <div class="left-side-photo"></div>
      <!--* right -->
      <div class="right-side-photo">
        <div class="right-side-photo-top">
          <h3>Tytuł</h3>
          <p>Trochę tekstu zwykłego</p>
          <button>link</button>
        </div>
        <div class="right-side-photo-bottom"></div>
      </div>
    </section>
    <!--! END PHOTO -->

    <!--! SLIDE -->
    <section class="slide">
      <div class="slide-one">Tekst promocyjny</div>
      <div class="slide-two">Tekst promocyjny</div>
      <div class="slide-three">Tekst promocyjny</div>
      <span class="bigerCircle"></span>
    </section>
    <!--! END SLIDE -->

    <!--! FILM -->
    <section class="film">
      <video src="../assets/filmik.mp4" controls></video>
    </section>
    <!--! END FILM -->
  </section>
</section>
